<h1> Сотрудник </h1>

<ul>

  <li> Фамилия:  <%=  @employee.surname %></li>
  <li> Имя:  <%=  @employee.name %></li>
  <li> Отчество:  <%=  @employee.patronymic %></li>
  <li> Дата рождения:  <%=  @employee.date_of_birth%></li>
  <li> Дата принятия на работу:  <%=  @employee.date_of_employment %></li>
  <li> Должность:  <%=  @employee.position %></li>
  <li> Образование:  <%=  @employee.education %></li>
</ul>





