<h1> Добавление новой библиотеки </h1>

<%= form_for Library.new do |f |%>

  <p> Номер <br/><%=f.text_field :number_library %></p>
  <p> Название <br/> <%=f.text_field :name_library %></p>
 <p> Адресс <br/> <%=f.text_field :address_library  %></p>

<p><%= f.submit " Добавить библиотеку" %></p>

<% end %>
